@charset "UTF-8";

/* noto sans */
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(fonts/eot/NotoSansKR-Regular-Hestia.eot),
    url(fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(fonts/eot/NotoSansKR-Medium-Hestia.eot),
    url(fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(fonts/eot/NotoSansKR-Bold-Hestia.eot),
    url(fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}
/* roboto */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url(fonts/roboto/Roboto-Thin.woff2) format('woff2'),
	url(fonts/roboto/Roboto-Thin.woff) format('woff'),
	url(fonts/roboto/Roboto-Thin.otf) format('opentype');
}